
.Cards
{
    margin-top: 50px;
}
.card{
 
    border: 0px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 10px 5px rgba(112, 21, 21, 0.1); 
    padding: 20px; 
    margin-bottom: 20px;
    background-color: transparent; 
    height: 90%;
    
  
}

.Button{
    display: flex;
    justify-content: center; 
    align-items: center; 
 margin-top: 20px;
  } 